.button {
    -fx-background-color: transparent;
    -fx-text-fill: White;
    -fx-min-width: 200px;
    -fx-max-width: 400px;
}

.button:hover {
    -fx-background-color: rgb(200,200,0);
    -fx-text-fill: Black;
}

.root {
    -fx-font-size: 32px;
    -fx-background-color: rgb(50,100,150);
}

.scroll-pane {
    -fx-background-color: rgb(50,100,150);
}

#vboxLevelMenu,
#root {
    -fx-background-color: rgb(50,100,150);
}

#backButton {
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-background-image: url("/imgs/goBackIcon.png");
    -fx-background-size: cover;
}

#backButton:hover {
    -fx-background-color: silver;
    -fx-background-image: url("/imgs/goBackIcon.png");
    -fx-background-size: cover;
}

#navBar {
    -fx-background-color: transparent;
}
