.root{
    -fx-background-color: rgb(100,100,255);
}
#pathField {
    -fx-background-color: red;
}

#startField {
    -fx-background-color: chocolate;
}

#endField {
    -fx-background-color: chartreuse;
}

#wallField {
    -fx-background-color: black;
}
